body{
    /* background-image: url("home.jpg"); */

    background-image: linear-gradient(0deg, #020024 2%, #090979 50%, #00d4ff 100%);

    background-repeat: no-repeat;

    background-size: cover;

}
nav{
    text-align: right;
    color: blue;
    
}


/* 
h1{
    color: blueviolet;
    text-align: center;
    border: 1px solid ;
    border-radius: 9px;
    height: 65px;
    padding: 20px;
    border: none;
}

.content{
    position: relative;
    align-items: center;
    color: white;
}
p{
    color: white;
    text-align: center;
    border: 1px blueviolet solid;
    padding: 20px;
    border-radius: 10px;
    height: 20px;
    width: 450px;
    position: relative;
    left: 450px;
}

#btn1 button{
    border: 1px blueviolet solid;
    background-color: blueviolet;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    top: 100px;
    z-index: 2;
}
#btn2 button{
    border: 1px blueviolet solid;
    background-color: blueviolet;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: 73px;
    left: 175px;
    z-index: 1;
}
a:hover{
    color: blueviolet;

} */


/* .details{
    width: 30px;
    display: inline;
} */
.head{
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    color: white;
}
.content{
    
    margin:10px ;
    width: 60%;
    padding: 10px;
    color: white;
    
}
.par1{
    border: 1px blueviolet solid;
    border-radius: 10px;
    width: 60%;
    padding: 20px 20px;
    

    
}
.buttons{
    display: flex;
    gap: 30%;
    padding-left: 40px;
    margin-top: 10%;
    
    

}
.banner{
    padding-left: 100px;
    padding-top: 5%;
    position: absolute;
    left: 50%;
    top: 50px;
    right: 60%;
    
    
}
img{
    height: 500px;
    width: 700px;
}

#btn1 button{
    border: 1px blueviolet solid;
    background-color: blueviolet;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    
    
}

#btn2 button{
    border: 1px blueviolet solid;
    background-color: blueviolet;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    
    
}

/* end of index styling*/

/* beggining of mission styling*/
.our-mission{
    color: white;
    margin-top: 20%;

    right: 5;
}
.heading2{
    color: black;
    float: left;
    position: relative;
    left: 700px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.goal{
    height: 90%;
    text-align: center;

}

.par2 { 
    margin-top: 10px;
    float: right;
    color: black;
   
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 30px;
    width: auto;
   
    height: 200px;
    

    

}
.section{
    background-color: white;


}
.our-mission{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    top: 40px;
    
}
.banner2{
    margin-top: 100px;
    border :2px blueviolet;
}

#img-our-mission{
    height: 500px;
    padding-left: 80px;

}

}

/* end of mission styling*/

/* beggining of about us  styling*/

.headingspace{
    color: blueviolet;
    margin-top: 100px;
}

.about-us{
    color: white;
    margin-bottom: 5%;
}
.heading3{
    text-align: center;
}
.par3{
    border: 2px blueviolet solid;
    width :40%;
    position: relative;
    left: 30%;
    padding-top: 40px ;
    padding-bottom: 40px;
    padding-left: 40px;
    margin-top: 5%;
}
/* end of about us  styling*/

/* /* beggining of our team  styling*/ */
.meet-us{
    position: relative;
    
    
    
    
}
.dev-pics{
    height: auto;
    width: 100px;
    border-radius: 50%;
}

.heading4{
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

.members{

    
    position: relative;
    height: 200px;
    width: 60%;
    margin-inline: auto;
    overflow: hidden;  
    mask-image: linear-gradient(90deg, transparent, white 70%, transparent);
    
 
}
@keyframes slides {

    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(-2900%);
    }
}
/* pause effect */
.members:hover .list{
    animation-play-state: paused!important;
}



.list{
    position: absolute;
    width: 300px;
    animation: slides 80s infinite linear;
    animation-delay: calc((80s / var(--quantity)) * (var(--position) - 1) );
    color: white;
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(400%);
    
}


.dev-name{
    width: 100%;

}
.dev-details{
    
    margin: 0px 30px;
    
}
.dev-link{
    display: inline;
    padding-left: 10px;
}
.icon{
    height: 30px;
    width: 30px;
    
}

